<%= provide(:title, "Restaurant #{@restaurant.name} Info") %>

<div class="row">
  <h1><%= @restaurant.name %></h1>
</div>

<div class="row">
  <p><%= @restaurant.address %></p>
</div>

<div class="row">
  <p><%= @restaurant.city %></p>
</div>

<div class="row">
  <p><%= @restaurant.state %></p>
</div>

<div class="row">
  <p><%= @restaurant.zip %></p>
</div>
